<br><br>
<h3>Créer un compte</h3>

<%= form_tag url_for(action: 'create'), method: "post" do %>

  <%= label_tag 'prénom' %>
  <%= text_field_tag 'first_name' %>
  <br /> <br />

  <%= label_tag 'Nom' %>
  <%= text_field_tag 'last_name' %>
  <br /> <br />


  <%= label_tag 'email' %>
  <%= text_field_tag 'email' %>
  <br /> <br />

  <%= label_tag 'Mot de passe' %>
  <%= text_field_tag 'pass' %>
  <br /> <br />

  <%= label_tag 'ville' %>
  <%= select_tag "city", options_from_collection_for_select(@city, "id","name") %>
  <br /> <br />

  <%= submit_tag "envoyer" %>

<% end %>
